# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Fruit Pong.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repos\unity\Fruit Pong\.idea\.idea.Fruit Pong\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
